.about__container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 80px 40px 100px;
  gap: 120px;
  @media screen {
    @media (max-width: 1279px) {
      gap: 80px;
    }
    @media (max-width: 860px) {
      flex-direction: column-reverse;
      align-items: center;
    }
    @media (max-width: 767px) {
      gap: 42px;
      padding: 42px 10px 42.4px;
    }
  }
  .about__img {
    max-width: 300px;
    max-height: 408px;
    @media screen and (max-width: 767px) {
      max-width: 260px;
      max-height: 353.6px;
    }
  }
  .about__text-block {
    padding: 14px 0;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    @media screen {
      @media (max-width: 860px) {
        padding: 0;  
      }
      @media (max-width: 767px) {
        gap: 22px;
        padding: 0 15px;
      }
    }
    .about__title {
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: $color-dark-l;
      @media screen and (max-width: 767px) {
        margin-bottom: 3px;
        font-size: 25px;
        text-align: center;
      }
    }
    .about__text {
      color: $color-dark-xl;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      @media screen and (max-width: 767px) {
        text-align: justify;
      }
    }
  }
}