.not-only-block {
  background: $bg-img, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  .not-only-container {
    margin: 0 auto;
    padding: 180px 40px 0;
    max-width: 1280px;
    display: flex;
    gap: 42px;
    @media screen {
      @media (max-width: 1279px) {
        flex-direction: column;
        padding: 150px 100px 0 99px;
        align-items: center;
        gap: 100px;
      }
      @media (max-width: 767px) {
        padding: 150px 10px 0;
        gap: 105px;
      }
    }
    .not-only-textblock {
      display: flex;
      flex-direction: column;
      gap: 42px;
      padding: 163px 0 0;
      max-width: 460px;
      @media screen and (max-width: 1279px) {
        align-items: center;
        padding: 0;
        max-width: 60%;
        @media (max-width: 980px) {
          max-width: 460px;
        }
      }
      .textblock__title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 130%;
        color: $color-light-xl;
        max-width: 310px;
        @media screen {
          @media (max-width: 1279px) {
            align-self: flex-start;
          }
          @media (max-width: 767px) {
            text-align: center;
            align-self: auto;
            font-size: 32px;
            letter-spacing: 0.06em;
            max-width: 300px;
          }
          @media (max-width: 480px) {
            font-size: 25px;
            max-width: 250px;
          }
        }
      }
      .textblock__description {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: $color-dark-s;
        @media screen {
          @media (max-width: 1279px) {
            align-self: flex-start;
          }
          @media (max-width: 767px) {
            text-align: center;
          }
        }
      }
      .textblock__button {
        background: $color-primary;
        border-radius: 100px;
        width: 207px;
        height: 52px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        color: $color-dark-3xl;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.06em;
        cursor: pointer;
        &:hover {
          background: $color-primary-light;
        }
      }
    }
    .not-only-pet {
      max-width: 698px;
      max-height: 728px;
      @media screen {
        @media (max-width: 1279px) {
          max-width: 569px;
          max-height: 593px;
          position: relative;
          left: 70px;
        }
        @media (max-width: 767px) {
          max-width: 413px;
          max-height: 431.7px;
          left: 20px;
        }
        @media (max-width: 480px) {
          max-width: 260px;
          max-height: 271.77px;
        }
      }
    }
  }
}