.pets-our-friends {
  background: #F6F6F6;
  .pets-our-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 40px 100px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    .pets-our-title {
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #545454;
      text-align: center;
    }
    .pets-our-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px 40px;
      padding: 15px 0;
      .pets-our-card {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 270px;
        padding: 0 0 30px;
        align-items: center;
        background: #FAFAFA;
        border-radius: 9px;
        cursor: pointer;
        &:hover {
          background: #ffffff;
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          .pets-our-card-btn {
            background-color: #FDDCC4;
            border-color: #FDDCC4;
            cursor: pointer;
          }
        }
        .pets-our-card-img {
          width: 270px;
          height: 270px;
          border-radius: 9px 9px 0px 0px;
        }
        .pets-our-card-title {
          font-family: 'Georgia';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.06em;
          color: #545454;
        }
        .pets-our-card-btn {
          width: 187px;
          height: 52px;
          border: 2px solid #F1CDB3;
          border-radius: 100px;
          color: #292929;
          font-family: 'Georgia';
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 130%;
          letter-spacing: 0.06em;
          background: transparent;
        }
      }
    }
    .pets-our-pagination {
      max-width: 340px;
      display: flex;
      gap: 20px;
      .pets-our-pagination-btn {
        width: 52px;
        height: 52px;
        border: 2px solid #F1CDB3;
        border-radius: 100px;
        background: transparent;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #292929;
        cursor: pointer;
        &:not(:disabled):hover {
          background: #F1CDB3;
        }
      }
      .pets-pagination-btn-active {
        background: #F1CDB3;
        cursor: default;
      }
      .pets-disabled {
        border: 2px solid #CDCDCD;
        color: #CDCDCD;
        cursor: default;
      }
    }
  }  
}