.you-can {
  background: $color-light-l;
  .you-can-container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 80px 182px 100px 183px;
    display: flex;
    gap: 30px;
    .you-can-img {
      padding: 11px 0 0;
      width: 505px;
      height: 271px;
    }
    .you-can-block {
      display: flex;
      flex-direction: column;
      gap: 19px;
      max-width: 380px;
      max-height: 282px;
      .you-can-title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: $color-dark-l;
      }
      .you-can-subtitle {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: $color-dark-l;
      }
      .you-can-card {
        background: $color-primary;
        border-radius: 9px;
        max-width: 349px;
        height: 43px;
        display: flex;
        align-items: center;
        padding: 9px 15px;
        gap: 15px;
        cursor: pointer;
        &:hover {
          background: $color-primary-light;
        }
        .you-can-card-title {
          font-family: 'Georgia';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: $color-dark-l;
        }
      }
      .you-can-card-text {
        font-family: 'Arial';
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $color-dark-m;
      }
    }
  }
}