.footer {
  background: $bg-img, radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  .footer-container {
    padding: 40px 40px 0;
    margin: 0 auto;
    max-width: 1280px;
    justify-content: space-between;
    display: flex;
    align-items: end;
    @media screen {
      @media (max-width: 1279px) {
        flex-wrap: wrap;
        gap: 65px 60px;
        justify-content: center;
      }
      @media (max-width: 1060px) {
        padding: 30px 30px 0;
      }
      @media (max-width: 767px) {
        padding: 28px 10px 0;
        gap: 40px;
      }
      @media (min-width: 620px) {
        @media (max-width: 640px) {
          gap: 40px 17px;
        }
      }
    }
    .contacts {
      padding: 16px 0 60px;
      max-width: 278px;
      display: flex;
      flex-direction: column;
      gap: 43px;
      @media screen {
        @media (max-width: 1060px) {
          padding: 0;
        }
        @media (max-width: 767px) {
          align-items: center;
          padding: 0 10px;
        }
      }
      .contacts-title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.059em;
        color: $color-light-xl;
        @media screen and (max-width: 767px) {
          font-size: 25px;
          text-align: center;
        }
      }
      .mail,
      .phone {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        width: fit-content;
        &:hover {
          .mail-img,
          .phone-img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(192deg) brightness(101%) contrast(104%);
          }
          .mail-text,
          .phone-text {
            color: $color-light-xl;
          }
        }
        .mail-text,
        .phone-text {
          font-family: 'Georgia';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: $color-primary;
        }
      }
    }
    .locations {
      padding: 16px 0 60px;
      max-width: 302px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      @media screen {
        @media (max-width: 1060px) {
          padding: 0;
        }
        @media (max-width: 767px) {
          gap: 40px;
        }
      }
      .locations-title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.059em;
        color: $color-light-xl;
        margin-bottom: 2px;
        @media screen and (max-width: 767px) {
          font-size: 25px;
          text-align: center;
          margin-bottom: 0;
        }
      }
      .location-boston,
      .location-london {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        width: fit-content;
        &:hover {
          .location-boston-img,
          .location-london-img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(192deg) brightness(101%) contrast(104%);
          }
          .location-boston-text,
          .location-london-text {
            color: $color-light-xl;
          }
        }
        .location-boston-text,
        .location-london-text {
          font-family: 'Georgia';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: $color-primary;
        }
      }
    }
    .footer-img {
      max-width: 300px;
      max-height: 310px;
      @media screen and (max-width: 767px) {
        max-width: 260px;
        max-height: 269px;
      }
    }
  }
}