@use '../utils' as *;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .header__container {
    max-width: 1280px;
    padding: 0 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen {
      @media (max-width: 1279px) {
        padding: 0 30px;
      }
      @media (max-width: 767px) {
        padding: 0 20px;
      }
    }
    .logo {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      width: 184px;
      height: 60px;
      .logo__title {
        font-size: 32px;
        line-height: 110%;
        font-family: 'Georgia';
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.06em;
        white-space: nowrap;
      }
      .logo__subtitle {
        font-family: 'Arial';
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.1em;
        line-height: 15px;
        font-size: 13px;
      }
    }
    .nav {
      .nav__list {
        display: flex;
        gap: 35px;
        position: relative;
        bottom: 2px;
        right: 2px;
        @media screen and (max-width: 767px) {
          flex-direction: column;
          position: fixed;
          right: 0;
          top: 0;
          right: -320px;
          height: 100vh;
          justify-content: center;
          align-items: center;
          gap: 40px;
          z-index: 3;
          width: 320px;
        }
        .nav__item {
          list-style-type: none;
          font-family: 'Arial';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 160%;
          @media screen and (max-width: 767px) {
            font-size: 32px;
          }
          .links {
            user-select: none;
            cursor: pointer;
            &:active {
              border-bottom: 3px solid $color-primary;
              padding-bottom: 3px;
              transition: all 0.3s ease-in-out;
            }
          }
          .links.color-pastel-grey {
            &:active {
              color: $color-light-s;
            }
          }
          .links.color-davy-gray {
            &:active {
              color: $color-dark-3xl;
            }
          }
          .active-nav {
            border-bottom: 3px solid $color-primary;
            padding-bottom: 3px;
            cursor: default;
          }
        }
      }
      .burger-menu {
        display: none;
        justify-content: space-between;
        flex-direction: column;
        width: 30px;
        height: 22px;
        z-index: 5;
        position: relative;
        cursor: pointer;
        @media screen and (max-width: 767px) {
          display: flex;
        }
        .burger-line {
          height: 2px;
          width: 100%;
          border: none;
        }
      }
      .active-menu {
        @media screen and (max-width: 767px) {
          right: 0;
        }
      }
      .shadow {
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        display: none;
        top: 0;
        z-index: 2;
        background: rgba(41, 41, 41, 0.6);
      }
      .shadow-open {
        @media screen and (max-width: 767px) {
          display: block;
        }
      }
    }
  }
}

.rotate {
  @media screen and (max-width: 767px) {
    transform: rotate(90deg);
  }
}

.overflow-hidden {
  @media screen and (max-width: 767px) {
    overflow: hidden;
  }
}
