@use '../abstracts' as *;

.pets-our-friends {
  background: $color-light-l;
  .pets-our-container {
    max-width: 1280px;
    margin: 120px auto 0;
    padding: 80px 40px 99px;
    @include flex(center, flex-start, column);
    gap: 45px;
    @media screen {
      @media (max-width: 1279px) {
        gap: 29px;
        padding: 80px 40px 77px;
      }
      @media (max-width: 767px) {
        padding: 42px 10px;
        gap: 42px;
      }
    }
    .pets-our-title {
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: $color-dark-l;
      text-align: center;
      @media screen and (max-width: 767px) {
        font-size: 25px;
      }
    }
    .pets-our-cards {
      @include flex(center, center);
      flex-wrap: wrap;
      gap: 30px 40px;
      padding: 15px 0;
      @media screen {
        @media (max-width: 1279px) {
          padding: 0 0 10px;
        }
        @media (max-width: 767px) {
          padding: 0;
          flex-direction: column;
        }
      }
    }
    .pets-our-pagination {
      max-width: 340px;
      display: flex;
      gap: 20px;
      @media screen and (max-width: 767px) {
        gap: 10px;
      }
      .pets-our-pagination-btn {
        width: 52px;
        height: 52px;
        border: 2px solid $color-primary;
        border-radius: 100px;
        background: transparent;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: $color-dark-3xl;
        cursor: pointer;
      }
      .pets-pagination-btn-active {
        background: $color-primary;
        cursor: default;
      }
      .pets-disabled {
        border: 2px solid $color-dark-s;
        color: $color-dark-s;
        cursor: default;
      }
    }
  }  
}

.pets-our-card {
  @include flex(center, flex-start, column);
  gap: 30px;
  max-width: 270px;
  padding: 0 0 30px;
  background: $color-light-s;
  border-radius: 9px;
  cursor: pointer;
  .pets-our-card-img {
    width: 270px;
    height: 270px;
    border-radius: 9px 9px 0px 0px;
  }
  .pets-our-card-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: $color-dark-l;
  }
  .pets-our-card-btn {
    width: 187px;
    height: 52px;
    border: 2px solid $color-primary;
    border-radius: 100px;
    color: $color-dark-3xl;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    background: transparent;
  }
}