.header {
  margin: 0 auto;
  position: sticky;
  max-width: 1280px;
  .header__container {
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 184px;
      height: 60px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      &:hover {
        .logo__title,
        .logo__subtitle {
          color: #292929;
        }
      }
      .logo__title {
        color: #545454;
        font-size: 32px;
        line-height: 35px;
        font-family: 'Georgia';
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.06em;
        white-space: nowrap;
      }
      .logo__subtitle {
        font-family: 'Arial';
        font-weight: 400;
        font-style: normal;
        color: #292929;
        letter-spacing: 0.1em;
        line-height: 15px;
        font-size: 13px;
      }
    }
    .nav {
      .nav__list {
        display: flex;
        gap: 35px;
        .nav__item {
          list-style-type: none;
          font-family: 'Arial';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 160%;
          .links {
            user-select: none;
            color: #545454;
            cursor: pointer;
            &:hover {
              color: #292929;
            }
            &:active {
              border-bottom: 3px solid #F1CDB3;
              padding-bottom: 3px;
              color: #292929;
            }
          }
          .active-nav {
            border-bottom: 3px solid #F1CDB3;
            padding-bottom: 3px;
            color: #292929;
            cursor: default;
          }
        }
      }
    }
  }
}